*{
    margin:0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100%;
    font-family: 'Trebuchet MS', sans-serif;

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Navigation bar */
.navigation{
    display: flex;
    height: 100px;
    font-size: 24px;
    background-color: #5e13cf;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    padding: 0 12px;
}

.navigation ul.left-nav {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    width: 70%;
}

.navigation ul.left-nav a {
    color: white;
    padding-right: 20px;
}

.navigation ul.right-nav {
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    min-width: 30%;
    padding-right: 50px;
}

.right-nav a{
    color: #262626;
}

#name{
    color: white;
    margin-right: 400px;
}

.navigation ul li a:hover{
    opacity: 0.4;
}

/* main area */

.main-area{
    width: 100%;
    height: 675px;
}

.left-section{
    width: 70%;
    background-color: #6715e3;
    height: 100%;
    font-size: 40px;
    color: white;
}

.intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    min-width:70%;
    height: 80%;
    padding: 140px 10px 0 90px;
}

.intro p{
    grid-column: 1/4;
    grid-row: 3;
    text-align: right;
    background-color: red;
    width: 70%;
    height: 54px;
    font-size: 26px;
    padding: 9px 12px 0 0;
    border-radius: 6px;
}

.intro img{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    height: 350px;
    border-radius: 10px;
    margin-left: 13px;
}

.intro h1{
    grid-column: 2/4;
    grid-row: 2;
    margin-left: 10px;
}

.right-section{
    width: 30%;
}